version: "3.9"

services:
    web:
        build: .
        container_name: django_web
        ports:
            - "8000:8000"
        env_file:
            - .env
        volumes:
            - .:/app
        command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
