{% load static %}

<header>
	<div class="mx-container">
	<a class="navbar-brand" href="{% url 'website:home' %}" title="Accueil">
        <img src='{% static "website/photos/logo_noir.png" %}' />
    </a>
	<button class="burger" aria-label="Menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
	<nav>
		<ul>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'home' %} active-link {% endif %}" href="{% url 'website:home' %}">ACCUEIL</a>
			</li>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'dance' %} active-link {% endif %}" href="{% url 'website:dance' %}">DANSER</a>
			</li>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'project' %} active-link {% endif %}" href="{% url 'website:project' %}">VOS PROJETS</a>
			</li>
			<li>
				{% include "website/components/primary_button.html" with content="Me contacter" %}
			</li>
		</ul>
	</nav>
	</div>
</header>
<script>
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('nav');

    burger.addEventListener('click', () => {
        nav.classList.toggle('open');
        document.body.classList.toggle('no-scroll');

        const expanded = burger.getAttribute('aria-expanded') === 'true';
        burger.setAttribute('aria-expanded', !expanded);
    });
</script>
