header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-100);
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 140px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.active-link {
    text-decoration: underline;
    color: var(--secondary-100);
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    width: 24px;
    height: 2px;
    background-color: black;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .burger {
        display: flex;
        padding-right: 32px;
    }

    header nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--background-100);
        display: none;
    }
    nav ul {
        flex-direction: column;
        gap: 16px;
        padding: 24px;
    }

    header nav.open {
        display: block;
    }
    .no-scroll {
        overflow: hidden;
    }

    .navbar-brand img {
        width: 80px;
    }
}
