{% load static %}

<header>
	<div class="mx-container">
	<a class="navbar-brand" href="{% url 'website:home' %}" title="Accueil">
        <img src='{% static "website/photos/logo_noir.png" %}' />
    </a>
	<nav>
		<ul>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'home' %} active-link {% endif %}" href="{% url 'website:home' %}">ACCUEIL</a>
			</li>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'dance' %} active-link {% endif %}" href="{% url 'website:dance' %}">DANSER</a>
			</li>
			<li>
				<a class="navbar-link {% if request.resolver_match.url_name == 'project' %} active-link {% endif %}" href="{% url 'website:project' %}">VOS PROJETS</a>
			</li>
			<li>
				{% include "website/components/primary_button.html" with content="Me contacter" %}
			</li>
		</ul>
	</nav>
	</div>
</header>
