{% load static %}

<div class="courses">
	<div class="course-img">
		<img src="{% static 'website/photos/ado&adultes.png' %}" />
		<h3>Gym Autrement, 3 Place du Griffon 69001 Lyon</h3>
	</div>
	<div class="course">
		<h2>11 ans / 14 ans</h2>
		<div class="courses-details">
			<div class="courses-details-title">
				<p>Mercredi 14h à 15h30</p>
			</div>
			<div class="courses-details-title">
				<strong>TARIFS</strong>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours d'essai Offert</p>
			</div>
			<div class="courses-details-tarifs">
				<div class="courses-details-tarifs-col">
					<p><strong>Année scolaire</strong> du 9 septembre 2026 au 30 juin 2027</p>
					<p>Règlement en 4 chèques ou virements</p>
				</div>
				<p>440 €</p>
			</div>
		</div>
	</div>
	<div class="course">
		<h2>Ados & Adultes</h2>
		<div class="courses-details">
			<div class="courses-details-title">
				<p>Jeudi 19h30 à 21h</p>
			</div>
			<div class="courses-details-title">
				<strong>TARIFS pour l'année de danse</strong>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours d'essai</p>
				<p>10 €</p>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours à l'unité</p>
				<p>20 €</p>
			</div>
			<div class="courses-details-tarifs">
				<div class="courses-details-tarifs-col">
					<p><strong>Forfait 34 cours</strong> du 10 septembre 2026 au 1er juillet 2027</p>
					<p>Règlement en 5 chèques ou virements</p>
				</div>
				<p>500 €</p>
			</div>
		</div>
	</div>

	<p>Possibilité d'inscription à la carte et d'essayer les cours à tout moment de l'année scolaire.</p>
</div>

<div class="contact">
	<h3>Réservez un cours d'essai !</h3>
	{% include "website/components/primary_button.html" with content="Me Contacter" %}
</div>
