{% load static %}

<div class="courses">
	<div class="course-img">
		<img src="{% static 'website/photos/ado&adultes.png' %}" />
	</div>
	<div class="course">
		<h2>Ados & Adultes</h2>
		<div class="courses-details">
			<div class="courses-details-title">
				<strong>Lieu</strong>
			</div>
			<p>Gym Autrement, 3 Place du Griffon 69001 Lyon</p>
			<div class="courses-details-title">
				<strong>Période</strong>
			</div>
			<p>Du 1er septembre 2026 au 3 juillet 2027</p>
			<div class="courses-details-title">
				<strong>Horaires</strong>
			</div>
			<p>Jeudi 19h30 - 21h</p>
			<div class="courses-details-title">
				<strong>TARIFS pour l'année de danse</strong>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours d'essai</p>
				<p>10 €</p>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours à l'unité</p>
				<p>20 €</p>
			</div>
			<div class="courses-details-tarifs">
				<p>Forfait 34 cours/année scolaire</p>
				<p>500 €  Règlement en 5 chèques</p>
			</div>
		</div>
	</div>
	<div class="course">
		<h2>11 ans / 14 ans</h2>
		<div class="courses-details">
			<div class="courses-details-title">
				<strong>Lieu</strong>
			</div>
			<p>Gym Autrement, 3 Place du Griffon 69001 Lyon</p>
			<div class="courses-details-title">
				<strong>Période</strong>
			</div>
			<p>Du 1er septembre 2026 au 3 juillet 2027</p>
			<div class="courses-details-title">
				<strong>Horaires</strong>
			</div>
			<p>Mercredi 14h - 15h30</p>
			<div class="courses-details-title">
				<strong>TARIFS pour l'année de danse</strong>
			</div>
			<div class="courses-details-tarifs">
				<p>Cours d'essai</p>
				<p>Offert</p>
			</div>
			<div class="courses-details-tarifs">
				<p>Forfait année scolaire</p>
				<p>440 €  Règlement en 4 chèques</p>
			</div>
		</div>
	</div>
	<p>Possibilité d'inscription à la carte et d'essayer les cours à tout moment de l'année scolaire.</p>
</div>

<div class="contact">
	<h3>Réservez un cours d'essai !</h3>
	{% include "website/components/primary_button.html" with content="Me Contacter" %}
</div>
