:root {
    /* colors */
    --primary-100: rgba(43, 85, 141, 1);
    --secondary-100: rgba(172, 81, 61, 1);
    --interact-100: rgba(154, 31, 29, 1);
    --background-100: rgba(249, 250, 251, 1);

    /* fonts */
    --title-font-family: "Playfair Display", Helvetica, Arial, sans-serif;
    --body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
    --quote-font-family: "Playfair Display", Helvetica, Arial, sans-serif;

    --section-padding: 64px 16px;
    font-size: 100%;
    font-family: var(--body-font-family);
    line-height: 1.5;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
@media only screen and (min-width: 640px) and (min-height: 500px) {
    :root {
        font-size: 110%;
    }
}
