.review {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: stretch;
    height: 200px;
    gap: 8px;
}

.review em {
    font-size: 16px;
}
.review img {
    width: 32px;
    align-self: center;
}

.review .quote {
    text-align: justify;
    margin: 16px 0;
    flex-grow: 1;
}

.review .person {
    align-self: flex-end;
}

.review.blue {
    color: var(--primary-100);
}

.review.red {
    color: var(--interact-100);
}

.review.orange {
    color: var(--secondary-100);
}

@media (max-width: 768px) {
    .review {
        height: 270px;
    }
}
