.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.hero h1,
.hero > p {
    color: var(--background-100);
}

.hero h1,
.hero p,
.hero .btns {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 0 32px;
    max-width: 900px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    line-height: 1.3;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
