.present {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 128px 0;
}

.present-box-1,
.present-box-2,
.present-box-3 {
    display: flex;
    flex-direction: column;
}

.present-box-1 img {
    width: 570px;
}

.present-box-1 p {
    padding-top: 128px;
}
.present-box-2 {
    border-right: var(--secondary-100) 0.5px solid;
    margin: 0px 16px;
}
.subtitle {
    color: #595959;
}

.present-box-3 img {
    width: 216px;
    padding-top: 64px;
}

.present strong {
    color: var(--secondary-100);
}
