.present {
    display: flex;
    flex-direction: row;
}

.present-box-1,
.present-box-2,
.present-box-3 {
    display: flex;
    flex-direction: column;
}

.present-box-1 img {
    width: 574;
}
.present-box-2 {
    height: 100%;
    border-right: var(--secondary-100) 1px solid;
}
.subtitle {
    color: #595959;
}
