{% extends 'website/layout/landing.html' %}
{% load static %}
{% block head_title %}Accueil{% endblock %}
{% block head_description %}cc{% endblock %}`

        {% block extra_head_tags %}
     <link rel="stylesheet" href="{% static 'website/pages/sections/hero.css' %}">
     <link rel="stylesheet" href="{% static 'website/pages/sections/present.css' %}">
        {% endblock extra_head_tags %}

{% block body %}
<div class="mx-container">
	{% include "website/pages/sections/hero.html" %}
	{% include "website/pages/sections/present.html" %}
</div>
{% endblock %}
