{% load static %}
<div class="reviews-projects">
	<h2>Des réalisations qui ont fait faire des pas de côté</h2>
	<div class="reviews">
	{% include "website/pages/projets/components/projet.html" with color="blue" name="GROUPE CLASQUIN" quote="Pour le Comité Exécutif Commande d'une chorégraphie Michaeljacksonienne"%}
	{% include "website/pages/projets/components/projet.html" with color="orange" name="ECLATS D'ART/Ferme du Vinatier/ « Culture et santé »" quote="Ateliers « Danse ton quartier » - public d'adolescents" %}
	{% include "website/pages/projets/components/projet.html" with color="red" name="ENFANCE ART ET LANGAGE" quote="Ville de Lyon Ateliers d’éveil corporel en crèche - thème « les 4 saisons»" %}
	{% include "website/pages/projets/components/projet.html" with color="blue" name="GROUPE SCOLAIRE JOANNY COLLOMB" quote="Genas <br/>Ateliers de pratique artistique <br/>danse pour classes maternelles <br/>et élémentaires." %}
</div>
	<h2>Ce qu’ils disent de nos projets...</h2>
	<div class="reviews">
	{% include "website/pages/components/review.html" with color="blue" quote="“En souvenir d'une collaboration qui nous aura amené à nous décaler, nous déplacer, nous mélanger”" person="Marion D." %}
	{% include "website/pages/components/review.html" with color="orange" quote="“Quand je vois le résultat obtenu avec les enfants, je suis émerveillée et ils adorent!”" person="Valérie M." %}
	{% include "website/pages/components/review.html" with color="red" quote="“J'ai redécouvert des enfants sous un autre jour grâce à la danse. Je me rends compte que tout apprentissage passe par le corps, l'enfant doit avoir vécu pour comprendre et construire”" person="Karine D." %}
	</div>
</div>
