.projects h3 {
    color: var(--secondary-100);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects img {
    width: 500px;
}

@media (max-width: 768px) {
    .projects img {
        width: 300px;
    }
}
