h1,
h2,
h3 {
    font-family: var(--title-font-family);
}

h1 {
    font-size: 63px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

em {
    font-family: var(--quote-font-family);
    font-style: italic;
    font-size: 18px;
}

p,
a,
strong,
label,
input,
textarea {
    font-size: 16px;
    font-family: var(--body-font-family);
    margin-top: 6px;
    margin-bottom: 6px;
}

strong,
a {
    font-style: bold;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-100);
}
