h1,
h2,
h3 {
    font-family: var(--title-font-family);
}

h1 {
    font-size: 63px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

em {
    font-family: var(--quote-font-family);
    font-style: italic;
    font-size: 16px;
}

p,
a,
strong {
    font-size: 16px;
    font-family: var(--body-font-family);
}

strong {
    color: var(--secondary-100);
}

strong,
a {
    font-style: bold;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-100);
}
