.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
}
.contact h1 {
    margin: 0;
}
.contact img {
    width: 412px;
    height: 542px;
    padding-right: 64px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.15);
    padding: 64px;
    margin-top: 60px;
}

form button {
    background-color: var(--secondary-100);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    height: 54px;
}

input,
textarea {
    background-color: var(--background-100);
    border-radius: 6px;
    border: 1px solid #595959;
}

.contact-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-name-col {
    display: flex;
    flex-direction: column;
}

input {
    height: 45px;
}

@media (max-width: 768px) {
    .contact img {
        display: none;
    }

    form {
        width: 80%;
        padding: 32px 32px;
    }

    .contact-name {
        flex-direction: column;
    }
    .title-contact {
        font-size: 36px;
    }
}
