.review {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-content: center;
    height: 164px;
    min-width: 256px;
    gap: 8px;
}

.review em {
    font-size: 16px;
}
.review img {
    width: 32px;
}
