.present {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 128px 0;
}

.present-box-1,
.present-box-2,
.present-box-3 {
    display: flex;
    flex-direction: column;
}

.present-box-1 img {
    width: 570px;
}

.present-box-1 p {
    padding-top: 128px;
}
.present-box-2 {
    border-right: var(--secondary-100) 0.5px solid;
    margin: 0px 16px;
}
.subtitle {
    color: #595959;
}

.present-box-3 img {
    width: 216px;
    padding-top: 64px;
}

.present strong {
    color: var(--secondary-100);
}
@media (max-width: 768px) {
    .present {
        flex-direction: column;
        padding: 64px 16px;
        gap: 48px;
    }

    /* Ordre des blocs */
    .present-box-3 {
        order: 1;
        align-items: center;
        text-align: center;
    }

    .present-box-1 {
        order: 2;
        align-items: center;
        text-align: center;
    }

    /* On supprime la ligne */
    .present-box-2 {
        display: none;
    }

    /* Images responsive */
    .present-box-1 img {
        width: 100%;
        max-width: 360px;
    }

    .present-box-3 img {
        width: 160px;
        padding-top: 32px;
    }

    /* Espacements texte */
    .present-box-1 p {
        padding-top: 32px;
    }
}
